<!DOCTYPE html>
<html lang="en">
<head>
    {% include "standard_head.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/create_js.js" type="text/javascript"></script>

    <title>Create Conversation</title>
</head>
<body>
<p>
<input type="button" onclick="javascript:window.location.replace('/manage')" value="Manage Conversations"/>
<p>

New Conversation:<br><br>

Owner: <input type="text" id="owner" readonly><br>
Conversation Name: <input type="text" id="convNameBox"><br>
Destroy Date: <input type="date" id="destroyDateBox"><br>
 <input type="button" onclick="javascript:createConversation()" value="Create"/>


<p>
<div id="results">Result: <input type="text" id="resultBox" readonly></div>

</body>
</html>