<!DOCTYPE html>
<html lang="en">
<head>
    {% include "standard_head.html" %}

<script type="text/javascript">
      // FirebaseUI config.

      var redirectUrl = "/manage";
      var uiConfig = {
        signInSuccessUrl: redirectUrl,
        signInOptions: [
        <!--  firebase.auth.GoogleAuthProvider.PROVIDER_ID, -->
          firebase.auth.EmailAuthProvider.PROVIDER_ID
        ]
      };

var ui = new firebaseui.auth.AuthUI(firebase.auth());

ui.start('#firebaseui-auth-container', uiConfig);

</script>

</head>
<body>

    <h2>Login</h2>
    <div id="firebaseui-auth-container"></div>

</body>
</html>
