<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% block extrahead %}{% endblock %}
</head>
<body>
    <div class="container">

    <!-- Navigation Links -->
    <div class="nav-sidebar">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="/admin/conversations/">Conversations</a>
        <a href="/admin/messages/">Messages</a>
        <a href="/admin/users/">Users</a>
    </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>


</body>
</html>
