<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAq2ZvX1YatNlTsE6p5sDqZaNCVsEbcGxw",
    authDomain: "hailing-frequencies-2017.firebaseapp.com",
    databaseURL: "https://hailing-frequencies-2017.firebaseio.com",
    projectId: "hailing-frequencies-2017",
    storageBucket: "hailing-frequencies-2017.appspot.com",
    messagingSenderId: "153356807079"
    };

  firebase.initializeApp(config);
</script>


<script src="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.css" />



<!-- Track user status -->
<script type="text/javascript">
    var firebaseUser;
    var localUser;
    var userIdToken;

      function initApp () {
        return new Promise(function(resolve, reject){
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
              firebaseUser = user;
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var providerData = user.providerData;

            user.getIdToken().then(function(accessToken) {
                userIdToken = accessToken;
              document.getElementById('sign-in-status').textContent = 'Signed in as ' + displayName + " <" + email + ">";
              document.getElementById('sign-in').textContent = 'Sign out';
              document.getElementById('account-details').textContent = JSON.stringify({
                displayName: displayName,
                email: email,
                emailVerified: emailVerified,
                photoURL: photoURL,
                uid: uid,
                accessToken: accessToken,
                providerData: providerData

              }, null, '  ');
            });
            resolve();
          } else {
            // User is signed out.
            document.getElementById('sign-in-status').textContent = 'Not Signed In';
            document.getElementById('sign-in').textContent = 'Sign In';
            document.getElementById('account-details').textContent = 'null';
            reject();
          }
        },
            function(error) {
          console.log(error);}

        )}
        )}


        function userDataLoaded(){
          return new Promise(function(resolve, reject) {
              console.log("***userDataLoaded()");
              resolve();
          })
        }





      window.addEventListener('load', function() {
                initApp().then(function (){
                    $.ajax('/api/users/', {headers: {'Authorization': 'Bearer ' + userIdToken}
                    }).then(function (result) {
                        if(result) {
                            console.log(result['user-settings']);
                            localUser = result['user-settings'];
                            userDataLoaded().then(loadPageData());
                        }
                        })
                    })
                });


</script>